<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Polls</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list [virtualScroll]="polls">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *virtualItem="let poll" approxItemHeight="457px">

          <ion-card class="speaker-card">
            <ion-card-header>
              <button ion-item detail-none (click)="goToPollDetail(poll)">
                {{poll.title}}
              </button>
            </ion-card-header>

            <ion-card-content class="outer-content vote" [ngClass]="(poll.userVote >= 0) ? 'vote--set' : 'vote--not-set'">
              <ion-grid>
                <ion-row>
                  <ion-col col-3 *ngFor="let vote of votes" (click)="setVote(vote, poll)">
                    <ion-thumbnail item-start class="vote-icon"
                                   [ngClass]="poll.userVote === vote.value ? 'vote-icon--selected' : ''">
                      <img [src]='"assets/img/votes/" + poll.theme + "/" + vote.name + ".png"' alt="{{vote.name}}">
                    </ion-thumbnail>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <!--<ion-item [hidden]="poll.userVoted || (!poll.userVoted && !(poll.userVote >= 0))">-->
                <!--<ion-label stacked color="primary">Comment</ion-label>-->
                <!--<ion-input [(ngModel)]="poll.comment" name="comment" type="text" #comment="ngModel" spellcheck="false" autocapitalize="off">-->
                <!--</ion-input>-->
              <!--</ion-item>-->

              <ion-list [hidden]="poll.userVoted || (!poll.userVoted && !(poll.userVote >= 0))">

                <ion-item>
                  <ion-label floating color="primary">Comment</ion-label>
                  <ion-input [(ngModel)]="poll.comment" type="text"></ion-input>
                </ion-item>

              </ion-list>


              <button ion-button color="secondary" full round
                      (click)="vote(poll)"
                      [disabled]="!(poll.userVote >= 0)"
                      [hidden]="poll.userVoted"
              >
                Vote
              </button>
            </ion-card-content>

            <ion-row *ngFor="let result of getVoteResults(poll)">
              {{result.key}} {{result.value}}
            </ion-row>

            <ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="contact"></ion-icon>
                  <div>{{poll.users.length}} Votes</div>
                </button>
              </ion-col>
              <ion-col *ngIf="poll.users">
                <button ion-button icon-left clear small>
                  <ion-icon name="text"></ion-icon>
                  <div>{{getCommentsCount(poll)}} Messages</div>
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
