<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title>Messages</ion-title>
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-lines>
    <ion-item *ngFor="let message of comments">
        <h2>{{message.comment}}</h2>
        <p>{{message.name}}</p>
    </ion-item>
  </ion-list>

  <p padding *ngIf="!comments.length">
    No messages here
  </p>

</ion-content>
